*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}
nav ul{
    display: flex;
}
header{
    justify-content: center;
    margin-left: 40% ;
    margin-top: 200px;
    text-align: justify;
}
input{
    color: white;
    background-color: #FF900E;
}
img{
    justify-content: flex-start;
}
.main-content{
    display: flex;

}
.col{
    color: #FF900E;
}
.main-content-1{
    display: flex;
}
.icon-info{
    display: flex;
    justify-content: space-between;
}
